<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>{{ titulo }}</title>
</head>
<body>

    


    <section class="vh-100" style="background-color: #508bfc;">
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-warning">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      

                  <h3 class="mb-5">LOGIN</h3>
                <form action="{{ url_for('autenticar') }}" method="post">
                  <div class="form-outline mb-4">
                    <input name="usuario" type="text" class="form-control form-control-lg" />
                    <label class="form-label">USUÁRIO</label>
                  </div>
      
                  <div class="form-outline mb-4">
                    <input name="senha" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX-2">SENHA</label>
                  </div>

                  <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                </form>
                  
      
                  <hr class="my-4">
      
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</body>
</html>