{% extends 'template.html' %}
{% block conteudo %}

<style>
    #cabecalhosdiv {
        border:1px solid black;
        background-color: rgba(172, 171, 171, 0.549);
      
      }  
      
      #cabecalhosh {
        padding: 8px;
        text-align: center;
      }
      

</style>

<div class="row" >
    <div class="mb-3" id="cabecalhosdiv">
      <h3 id="cabecalhosh">CADASTRO DE ORIENTADOR</h3>
    </div>
  </div>


<form action="{{ url_for('cadastrar_orientador') }}" method="post" id="form">

    <div class="row" >
      <div class="form-group col-md-3 mb-3">
        <label>NOME</label>
        <input name="nome" type="text" class="form-control">
      </div>
      <div class="form-group col-md-3 mb-3">
        <label>E-MAIL</label>
        <input name="email" type="email" class="form-control">
      </div> 
      <div class="form-group col-md-2 mb-3">
        <label>SENHA</label>
        <input name="senha" type="text" class="form-control">
      </div>
    </div> 

    <div class="row">
        <div class="form-group col-md-5 mb-3">

        </div>
        <div class="form-group col-md-5 mb-5 align-self-center ">
            <input style="width: 300px;" type="submit" class="btn btn-primary" value="Salvar">
        </div>
        <div class="form-group col-md-2 mb-3">

        </div>
    </div>
  </form>



<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th>EDITAR</th>
            <th>EXCLUIR</th>
        </tr>
    </thead>
    <tbody>
        {% for orientador in orientadores %}
        <tr>
            <td>{{ orientador.nome }}</td>
            <td>{{ orientador.email }}</td>
            <td><a href="" onclick="executar('{{ orientador.id_professor }}')">Excluir</a></td> 
        {% endfor %}

    </tbody>
</table>

<script>
  
  function executar(id) {
    let resp = window.confirm(`Deseja excluir o usuário ?`)
    if(resp){
      window.location.href = `/excluir_orientador?id_professor=${id}`
    }
    else {
      window.alert('Exclusão cancelada.')
    }
  }




</script>

{% endblock %}