<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>{{ titulo }}</title>
</head>
<body>

    


    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">

                
                <div class="card-body p-5 text-center">
                  
                  <h1>Logar como</h1>
                  <br>
                    <a href="{{ url_for('login_professor') }}" class="btn btn-primary">Professor</a>&nbsp;
                    <a href="{{ url_for('login_grupo') }}" class="btn btn-primary">Grupo</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</body>
</html>